In [1]:
# Package import
import ibis
import os

# Set use case info
use_case_db = 'sr_grids'
use_case_path = '/data/discovery/sr_grids'

# Set hdfs and impalad host info
hdfs_namenode = 'da74wbname02.opr.statefarm.org'
impalad_host = 'da74wbdn01.opr.statefarm.org'

# Set ibis temp db for impala and temp path for HDFS.  This is done to prevent
# a permessions error when ibis attempts to create a temp db.  Set to your use
# case info
ibis.options.impala.temp_db = use_case_db
ibis.options.impala.temp_hdfs_path = use_case_path

# Get/set webhdfs port
hdfs_port = os.environ.get('IBIS_WEBHDFS_PORT', 50070)

# Connect to webhdfs
hdfs = ibis.hdfs_connect(host=hdfs_namenode, port=hdfs_port, auth_mechanism='GSSAPI', verify=False)

# Connect to impala
con = ibis.impala.connect(host=impalad_host, database=use_case_db,
                          hdfs_client=hdfs, auth_mechanism='GSSAPI')

In [2]:
# Example usage of connection

# Instantiate table object from use case
table = con.table('zcta')

# Set expression and execute the query
expr = table.limit(10)
query = expr.execute(async=True)

# Print the result
query.get_result()

     zip      aland   awater  aland_sqmi  awater_sqmi  intpt_lat  intpt_long
0  00601  166659883   799293      64.348        0.309  18.180555  -66.749961
1  00602   79287203  4448761      30.613        1.718  18.361945  -67.175597
2  00603   81884524   184089      31.616        0.071  18.455183  -67.119887
3  00606  109579998    12487      42.309        0.005  18.158345  -66.932911
4  00610   93021290  4171994      35.916        1.611  18.295366  -67.125135
5  00612  175095443  9812040      67.605        3.788  18.402253  -66.711397
6  00616   29862702   149156      11.530        0.058  18.420412  -66.671979
7  00617   39347155  3987953      15.192        1.540  18.445147  -66.559696
8  00622   75087972  1694880      28.992        0.654  17.991245  -67.153993
9  00623   98351685  1633538      37.974        0.631  18.083361  -67.153897